md-event-calendar:not(._md) {
  md-event-calendar-header {
    color: #FFF;
    background: #AAA;
  }


  md-event-calendar-month {
    .md-event-calendar-month-row-header {
      background: #AAA;

      .md-event-calendar-month-cell-header {
        color: #EEE;

        .md-arrow {
          fill: #333;
        }
      }
    }

    .md-event-calendar-month-row {
      background: #FFF;
      border-color: #DDD;

      .md-event-calendar-month-cell-divider {
        border-color: #DDD;
      }

      .md-event-calendar-month-cell {
        border-color: #DDD;

        &:last-child {
          border-color: #DDD;
        }

        .md-event-calendar-month-cell-content {
          .md-event-calendar-cell-data-label {
            color: #666;
          }

          .md-event-calendar-cell-event-show-more-link {
            color: #4189b8;
          }
        }
      }
    }
  }

  .md-event-calendar-cell-event {
    background: #EEE;
    color: #333;

    &.md-selected {
      color: #EEE;
      background: #888;
    }

    &.md-continue-left, &.md-end-left {
      &:after {
        border-right:13px solid #EEE;
      }
    }

    &.md-continue-right, &.md-start-right {
      &:after {
        border-left:13px solid #EEE;
      }
    }


    &.md-selected {
      &.md-continue-left, &.md-end-left {
        &:after {
          border-right:13px solid #888;
        }
      }

      &.md-continue-right, &.md-start-right {
        &:after {
          border-left:13px solid #888;
        }
      }
    }
  }

  .md-event-calendar-show-more-container {
    .md-event-calendar-show-more-date-label {
      color: #666;
    }
  }
}
