md-event-calendar {
  display: block;

  md-event-calendar-header {
    flex-direction: row;
    display: flex;
    line-height: 64px;
    align-items: center;
    border-style: solid;
    border-width: 1px 1px 0 1px;

    &.md-center {
      justify-content: center;
    }


    md-event-calendar-title {
      display: block;
      min-width: 170px;
      text-align: center;
      font-size: 20px;
    }

    md-event-calendar-next, md-event-calendar-prev {
      display: block;

      .md-arrow {
        cursor: pointer;
        height: 24px;
        width: 24px;
        &.md-left-arrow {
          transform: rotate(180deg);
        }
      }
    }
  }
}





md-event-calendar {
  // hide create link until hover over the day view.  Hide it again if hovering
  // over an existing event.  This specific structure is necessary in order to
  // preserve the correct precedence.

  .md-event-calendar-month-cell-content {
    .md-event-calendar-create-link {
      opacity: 0;
    }
  }

  .md-event-calendar-month-cell-content:hover {
    .md-event-calendar-create-link {
      opacity: 1;
    }
  }

  md-event-calendar-month {
    &.md-event-hover {
      .md-event-calendar-month-cell-content .md-event-calendar-create-link {
        opacity: 0;
      }
    }

    &.fitted {
      display: flex;
      flex-direction: column;
    }

    .md-event-calendar-month-row-header {
      display: flex;
      flex-direction: row;
      min-height: 36px;
      height: 36px;
      align-items: flex-end;
      font-size: 12px;
      font-weight: 500;
      padding-bottom: 12px;
      border-style: solid;
      border-width: 0 1px 1px 1px;

      .md-event-calendar-month-cell-header {
        flex: 1;
        padding-left: 6px;
      }
    }



    .md-event-calendar-month-row {
      flex: 1;
      display: flex;
      flex-direction: row;
      border-style: solid;
      border-width: 0 0 1px 0;

      .md-event-calendar-month-cell {
        position: relative;
        flex: 1;

        .md-event-calendar-month-cell-spacer {
          margin-top: 100%
        }

        .md-event-calendar-month-cell-divider {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          border-style: solid;
          border-width: 0 1px 0 0;
        }

        .md-event-calendar-month-cell-content {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          .md-event-calendar-create-link {
            align-self: center;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            padding-right: 12px;
            cursor: pointer;
            transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          }

          .md-event-calendar-cell-data-label {
            font-size: 13px;
            padding: 8px;
            flex: 1;
          }

          .md-event-calendar-cell-event-spacer {
            margin: 4px 0 4px 0;
            height: 23px;
          }

          .md-event-calendar-cell-event-show-more-link {
            font-size: 13px;
            padding: 4px;
            padding-left: 8px;
            cursor: pointer;
          }
        }


        &:last-child {
          border-style: solid;
          border-width: 0 1px 0 0;
        }
      }
    }
  }


  .md-event-calendar-cell-event {
    font-size: 12px;
    min-height: 15px;
    padding: 4px;
    cursor: pointer;

    &.md-single {
      margin: 4px;
      border-radius: 2px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &.md-start {
      margin: 4px 0 4px 4px;
      border-radius: 2px 0 0 2px;
      white-space: nowrap;
      z-index: 1;
      position: relative;
    }

    &.md-start-right {
      margin: 4px 13px 4px 4px;
      border-radius: 2px 0 0 2px;
    }

    &.md-end {
      margin: 4px 4px 4px 0;
      border-radius: 0 2px 2px 0;
    }

    &.md-end-left {
      margin: 4px 4px 4px 13px;
      border-radius: 0 2px 2px 0;
    }

    &.md-continue, &.md-continue-both {
      margin: 4px 0 4px 0;
      border-radius: 0;
    }

    &.md-continue-right {
      margin: 4px 13px 4px 0;
      border-radius: 0;
      white-space: nowrap;
    }

    &.md-continue-left {
      margin: 4px 0 4px 13px;
      border-radius: 0;
      white-space: nowrap;
    }

    &.md-continue-right, &.md-start-right {
      &:after {
        content: '';
        position:absolute;
        height: 0;
        width: 0;
        right: 0;
        margin-top: -4px;
        border-top: 12px solid transparent;
        border-bottom: 11.5px solid transparent;
        border-left:13px solid #EEE;
      }
    }

    &.md-continue-left, &.md-end-left {
      &:after {
        content: '';
        position:absolute;
        height: 0;
        width: 0;
        left: 0;
        margin-top: -4px;
        border-top: 12px solid transparent;
        border-bottom: 11.5px solid transparent;
        border-right:13px solid #EEE;
      }
    }

    .md-event-calendar-cell-event-time {
      font-weight: 500;
      padding-right: 6px;
      pointer-events: none;
    }

    span {
      pointer-events: none;
    }
  }

  // show more popup
  .md-event-calendar-show-more-content .md-event-calendar-cell-event {
    &.md-single,
    &.md-end,
    &.md-start-right
    {
      padding-left: 16px;
    }

    &.md-single,
    &.md-end,
    &.md-start-right
    {
      margin-left: 0;
    }

    &.md-single,
    &.md-end,
    &.md-end-left
    {
      margin-right: 0;
    }
  }



  .md-event-calendar-show-more-container {
    opacity: 0;
    // transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    position: absolute;
    top: 0;
    left: 1px;
    width: 180px;
    background: #FFF;
    padding: 12px;
    padding-top: 7px;
    border-radius: 2px;
    z-index: 9;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),
                0 13px 19px 2px rgba(0,0,0,.14),
                0 5px 24px 4px rgba(0,0,0,.12);

    .md-event-calendar-show-more-content {
      position: relative;
    }

    &.show {
      opacity: 1;

      &:not(.no-transition) {
        transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      }
    }

    .md-event-calendar-show-more-close {
      display: flex;
      position: absolute;
      top: 6px;
      right: 7px;
      width: 16px;
      height: 16px;
      cursor: pointer;

      svg {
        pointer-events: none;
      }
    }

    .md-event-calendar-show-more-date-label {
      font-size: 13px;
      padding: 6px;
      margin-left: -11px;
      margin-top: -5px;
    }
  }
}



md-event-calendar.md-create-disabled {
  md-event-calendar-month {
    .md-event-calendar-month-row {
      .md-event-calendar-month-cell {
        .md-event-calendar-month-cell-content {
          .md-event-calendar-create-link {
            display: none;
          }
        }
      }
    }
  }
}
