md-event-calendar._md {
  md-event-calendar-header {
    color: #EEE;
    background: '{{primary-default}}';
  }


  md-event-calendar-month {
    .md-event-calendar-month-row-header {
      color: #EEE;
      background: '{{primary-default}}';

      .md-arrow {
        fill: #EEE;
      }
    }

    .md-event-calendar-month-row {
      background: '{{background-hue-1}}';
      border-color: '{{foreground-4}}';

      .md-event-calendar-month-cell-divider {
        border-color: '{{foreground-4}}';
      }

      .md-event-calendar-month-cell {
        border-color: '{{foreground-4}}';

        &:last-child {
          border-color: '{{foreground-4}}';
        }

        .md-event-calendar-month-cell-content {
          .md-event-calendar-cell-data-label {
            color: '{{foreground-3}}';
          }

          .md-event-calendar-cell-event-show-more {
            color: '{{primary-default}}';
          }
        }
      }
    }
  }

  .md-event-calendar-cell-event {
    background: '{{foreground-4}}';
    color: '{{background-900}}';

    &.md-selected {
      color: #EEE;
      background: '{{primary-default}}';
    }

    &.md-continue-left, &.md-end-left {
      &:after {
        border-right:13px solid '{{foreground-4}}';
      }
    }

    &.md-continue-right, &.md-start-right {
      &:after {
        border-left:13px solid '{{foreground-4}}';
      }
    }


    &.md-selected {
      &.md-continue-left, &.md-end-left {
        &:after {
          border-right:13px solid '{{primary-default}}';
        }
      }

      &.md-continue-right, &.md-start-right {
        &:after {
          border-left:13px solid '{{primary-default}}';
        }
      }
    }
  }


  .md-event-calendar-show-more-container {
    .md-event-calendar-show-more-date-label {
      color: '{{foreground-3}}';
    }
  }
}
